<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <!-- Fontawesome-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
<main role="main">
    <% include partials/navbar %>

    <div class="container-fluid">
        <div class="row">
            <%include partials/sidebar %>

            <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
                    <h1 class="h2">Dashboard</h1>
                </div>
                <div class="naslovna-login-register">
                    <div class="login-box">
                        <div class="card card-outline card-primary">
                            <div class="card-header text-center">
                                <h1><b>Add food type</b></h1>
                            </div>
                            <div class="card-body">
                                <form action="/admin/add-food-type" method="POST" >
                                    <div class="input-group mb-3">
                                        <input type="text"
                                               id="name"
                                               name="name"
                                               class="form-control"
                                               placeholder="Name">
                                    </div>
                                    <input type="submit"class="btn btn-primary">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
