<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <!-- Fontawesome-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
<h1>Dodaj restoran admin</h1>
<form action="/admin/add-restaurant-admin" method="post">
    <input type="text" placeholder="Ime restorana" name="restaurantName">
    <input type="text" placeholder="Adresa restorana" name="addressRestaurant">
    <input type="text" placeholder="Tip restorana" name="typeRestaurant">
    <input type="text" placeholder="Ime administratora" name="name">
    <input type="text" placeholder="Kontakt" name="address">
    <input type="text" placeholder="Email" name="email">
    <input type="text" placeholder="password" name="password">
    <input type="submit">
</form>
</body>
</html>
