<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <!-- Fontawesome-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
<main role="main">
    <% include partials/navbar %>

    <div class="container-fluid">
        <div class="row">
            <%include partials/sidebar %>
            <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
                    <h1 class="h2">Dashboard</h1>
                </div>
                <div class="card" style="border: 1px solid orange;">
                    <div class="card-header">
                        <h3 class="card-title">Restaurants</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body" style="border: 1px solid orange;">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Restaurant</th>
                                <th>Status</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <% if (typeof RestaurantArray !== 'undefined' && RestaurantArray.length > 0) {%>
                                <%for (var i = 0; i < RestaurantArray.length; i++) { %>
                                    <% if(RestaurantArray[i].status === true) {%>

                                        <td><%= RestaurantArray[i].name %></td>

                                        <td><%= RestaurantArray[i].address %></td>

                                        <% if(RestaurantArray[i].status === true){%>
                                            <td>Active</td>
                                        <%} else {%>
                                            <td>X</td>
                                        <%}%>
                                        <td class="project-actions text-right">
                                            <a class="btn btn-primary btn-sm" href="#">
                                                <i class="fa fa-folder">
                                                </i>
                                                View
                                            </a>
                                            <a class="btn btn-danger btn-sm" href="#">
                                                <i class="fa fa-trash">
                                                </i>
                                                Delete
                                            </a>
                                        </td>


                                    <% } %>
                            </tr>
                            <%}%>
                            <% } %>
                            </tbody>

                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</main>
</body>
</html>
