<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rate</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<main role="main">
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top"style="border-bottom: 1px solid #F9723D;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/users/dashboard"><i class="fa fa-home"></i> Dashboard</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" data-toggle="modal" data-target="#exampleModalLong" ><i class="fa" id="kosara" style="font-size:24px">&#xf07a;</i>
                        <span class='badge badge-warning' id='lblCartCount'></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users/logout"><i class="fa fa-user"></i> Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
            <h1 class="h2">Dashboard</h1>
        </div>
        <%if(typeof order[0]!=="undefined"){%>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Rate restaurant <%= order[0].orders[0].restaurant[0].name%></h3>
                </div>
                <div class="card-body" style="border-top: 1px solid #F9723D;">
                    <form id="ratingForm">
                        <fieldset class="rating">
                            <legend>Please rate:</legend>
                            <input type="hidden" name="restaurant" value="<%= order[0].orders[0].restaurant[0]._id%>">
                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                        </fieldset>
                        <div class="clearfix"></div>
                        <button class="submit clearfix" >Submit</button>
                    </form>
                </div>
            </div>
        <%}else{%>
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">You have already rated the restaurants</h3>
                </div>
                <div class="card-body" style="border-top: 1px solid #F9723D;">
                </div>
            </div>
        <%}%>
    </div>
</main>
<script>
    $(document).ready(function() {
        $("form#ratingForm").submit(function(e) {
            $.ajax({
                url: "/users/rate/" +$('input[name=restaurant]').val()+ "/"+$('input:radio[name=rating]:checked').val(),
                method: "POST",
                success: function (result) {
                    window.location.href = "/users/dashboard";
                }
            })
        });
    });
</script>
</body>
</html>

