<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3" style="border-top: 1px solid orange;">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" id="link" href="/admin/dashboard">
                    <i class="fa fa-home"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link" href="/admin/admins">
                    <i class="fa fa-user"></i></span> Restaurant Admins
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link" href="/admin/suppliers">
                    <i class="fa fa-shopping-cart"></i> Suppliers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link" href="/admin/customers/true">
                    <i class="fa fa-user"></i> Customers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link" href="/admin/restaurants">
                    <i class="fa fa-utensils"></i> Restaurants
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link" href="/admin/orders">
                    <i class="fa fa-shopping-cart"></i> Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link" href="/admin/food">
                    <i class="fa fa-drumstick-bite"></i> Food
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link" href="/admin/foodType">
                    <i class="fa fa-drumstick-bite"></i> Food Type
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link" href="/admin/restaurantType">
                    <i class="fa fa-drumstick-bite"></i> Restaurant Type
                </a>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>ADD ... </span>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/admin/add-restaurant">
                    <i class="fa fa-plus"></i> Add Restaurant
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/add-restaurant-admin">
                    <i class="fa fa-plus"></i> Add Admin Restaurant
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/add-suppliers">
                    <i class="fa fa-plus"></i> Add Supplier
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/add-food-type">
                    <i class="fa fa-plus"></i> Add food Type
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/add-restaurant-type">
                    <i class="fa fa-plus"></i> Add Restaurant type
                </a>
            </li>
        </ul>
    </div>
</nav>
