<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3" style="border-top: 1px solid orange;">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" id="link" href="/supplier/dashboard">
                    <i class="fa fa-home"></i> Dashboard
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="link" href="/supplier/orders">
                    <i class="fa fa-shopping-cart"></i> Orders
                </a>
            </li>

        </ul>

    </div>
</nav>
