<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add sale</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/script/script.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<main role="main">
    <% include partials/navbar %>
    <div class="container-fluid">
        <div class="row">
            <%include partials/sidebar %>
            <div class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 ">
                    <h1 class="h2">Dashboard</h1>
                </div>
                <div class="naslovna-login-register">
                    <div class="login-box">
                        <div class="card card-outline card-primary">
                            <div class="card-header text-center">
                                <h1><b>Add sale</b></h1>
                            </div>
                            <div class="card-body">
                                <form action="/adminRestaurant/add-sale" method="POST" enctype="multipart/form-data">
                                    <div class="input-group mb-3">
                                        <select id="food"  name="food" class="form-control select2" style="width: 100%;">
                                            <option value="" disabled selected>Food</option>
                                            <% if (typeof food !== 'undefined' && food.length > 0) {%>
                                            <%for (var i = 0; i < food.length; i++) { %>
                                                <option  name ="" value="<%= food[i]._id%>"><%= food[i].name %></option>
                                            <%}%>
                                            <%}%>
                                        </select>
                                    </div>

                                    <div class="input-group mb-3">
                                        <input type="text"
                                               id="desc"
                                               name="desc"
                                               class="form-control"
                                               placeholder="Description">
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="text"
                                               id="price"
                                               name="price"
                                               class="form-control"
                                               placeholder="Enter Price">
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="date"
                                               id="date1"
                                               name="date_from"
                                               class="form-control">
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="date"
                                               id="date2"
                                               name="date_to"
                                               class="form-control">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="exampleInputPassword1" class="col-form-label mr-2">Picture</label>
                                        <input type="file" accept="image/*"
                                               id="picture"
                                               name="picture"
                                               class="form-control">
                                    </div>
                                    <div class="row">
                                        <div class="col-md">
                                            <div class="col-md-8 icheck-primary">
                                            </div>
                                        </div>
                                        <div class="col-6 submit">
                                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script>
    datumSale();
</script>
</body>
</html>
