<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3" style="border-top: 1px solid orange;">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" id="link" href="/adminRestaurant/dashboard">
                    <i class="fa fa-file"></i></span>Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link" href="/adminRestaurant/admin">
                    <i class="fa fa-file"></i></span> Admins
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link" href="/adminRestaurant/suppliers">
                    <i class="fa fa-shopping-cart"></i> Suppliers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link" href="/adminRestaurant/customers">
                    <i class="fa fa-user"></i> Customers
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link" href="/adminRestaurant/orders">
                    <i class="fa fa-flag"></i> Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link" href="/adminRestaurant/food">
                    <i class="fa fa-flag"></i> Food
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link" href="/adminRestaurant/menu">
                    <i class="fa fa-flag"></i> Menu
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link" href="/adminRestaurant/order-confirm">
                    <i class="fa fa-flag"></i> Order Confirm
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="link" href="/adminRestaurant/sale">
                    <i class="fa fa-flag"></i> Sale
                </a>
            </li>


        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/adminRestaurant/add-restaurant-admin">
                    <i class="fa fa-file"></i> Add Restaurant Admin
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adminRestaurant/add-supplier">
                    <i class="fa fa-file"></i> Add Supplier
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adminRestaurant/add-meni">
                    <i class="fa fa-file"></i> Add Menu
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adminRestaurant/add-food-item">
                    <i class="fa fa-file"></i> Add Food
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adminRestaurant/add-sale">
                    <i class="fa fa-file"></i> Add Sale
                </a>
            </li>
        </ul>
    </div>
</nav>
