<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3" style="border-top: 1px solid orange;">
        <ul class="nav flex-column">

            <li class="nav-item">
                <a class="nav-link" id="link" href="/restaurantAdmin/admin">
                    <i class="fa fa-file"></i></span> Admini restorana
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link" href="/restaurantAdmin/suppliers">
                    <i class="fa fa-shopping-cart"></i> Dostavljači
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link" href="/restaurantAdmin/customers">
                    <i class="fa fa-user"></i> Kupci
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link" href="/restaurantAdmin/orders">
                    <i class="fa fa-flag"></i> Narudzbe
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link" href="/restaurantAdmin/order-confirm">
                    <i class="fa fa-flag"></i> Potvrdi narudzbu
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link" href="/restaurantAdmin/order-confirm">
                    <i class="fa fa-flag"></i> Zaduzi narudzbu
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="link" href="/restaurantAdmin/sale">
                    <i class="fa fa-flag"></i> Akcije
                </a>
            </li>


        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
            </a>
        </h6>
        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/restaurantAdmin/add-restaurant-admin">
                    <i class="fa fa-file"></i> Dodaj admina restorana
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/restaurantAdmin/add-supplier">
                    <i class="fa fa-file"></i> Dodaj dostavljaca
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/restaurantAdmin/add-meni-item">
                    <i class="fa fa-file"></i> Dodaj meni
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/restaurantAdmin/add-food-item">
                    <i class="fa fa-file"></i> Dodaj jelo
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/restaurantAdmin/add-sale">
                    <i class="fa fa-file"></i> Dodaj akcije
                </a>
            </li>
        </ul>
    </div>
</nav>
